
        table,tr,td, th {
            border: 2px solid gray;  
            border-collapse: collapse;
            padding: 5px;  
        }
        tfoot{
            text-align: left;
        }
        div.div1{
            margin-top: 50px;
            background-color: yellow;
            display: inline;
            width: 200px;
        }
        div.div2{
            margin-top: 50px;
            background-color: yellow;
            display: inline;
        }
        span.sp{
            background-color: yellow;
            font-style: italic;
        }
    