li{
    color: white;
}
button.btn{
    background-color: white;
}
button.btn:hover{
    background-color: lightgrey;
}
a.nav-link{
    text-decoration: none;
    color: white;
}

#navbarSupportedContent{
    color: white;
}

form{  
   
    display: flex;
   flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 12px;
}
input[type = "email"], input[type = "password"], input[type = "text"]{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(145, 143, 143);
    border-radius: 3px;
}
p{
    font-size: 10px;
    margin-bottom: 20px ;
    color: rgb(145, 143, 143);
}
input[type = "checkbox"]{
    flex:12px;
}
div.container-md{
    margin-top: 80px;

}
input[type = "submit"]{
    width: 80px;
    height: 30px;
}

#btn{
    height: 40px;
    margin-top: 30px;
    margin-left: 250px;
    float: right;
    flex: 0;
}

#a{
    border-radius: 4px;
    margin-left: 30px;
    background-color: white;
    border: 2px solid darkblue;
    color: darkblue;

}

#a{
    border-radius: 4px;
    margin-left: 20px;
    background-color: white;
    border: 2px solid darkblue;
    color: darkblue;

}

#a{
    border-radius: 4px;
    margin-left: 20px;
    background-color: white;
    border: 2px solid darkblue;
    color: darkblue;

}